In [4]:
def bfs(graph, start):
  visited = []
  queue = []
  queue = [start]
  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [5]:
graph = {'Amin' : ['Wasim', 'Nick', 'Mike'],
         'Wasim' : ['Imran', 'Amin'],
         'Imran' : ['Wasim', 'Faras'],
         'Faras' : ['Imran'],
         'Mike' : ['Amin'],
         'Nick' : ['Amin']}

In [6]:
# O Amin ---------------------------
# |                |                |
# O Wasim       O Nick           O Mike
# |
# O Imran
# |
# O Faras

bfs(graph, 'Amin')

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']

In [7]:
bfs(graph, 'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [11]:
bfs(graph, 'Imran')

['Imran', 'Wasim', 'Faras', 'Amin', 'Nick', 'Mike']

In [12]:
bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [13]:
bfs(graph, 'Nick')

['Nick', 'Amin', 'Wasim', 'Mike', 'Imran', 'Faras']

In [14]:
bfs(graph, 'Mike')

['Mike', 'Amin', 'Wasim', 'Nick', 'Imran', 'Faras']

In [20]:
graph2 = {'Rektor' : ['Warek 1', 'Warek 2'],
          'Warek 1' : ['Rektor'],
          'Warek 2' : ['Rektor', 'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'],
          'Kaprodi 1' : ['Warek 2', 'Dosen A', 'Dosen B', 'Dosen C'],
          'Dosen A' : ['Kaprodi 1'],
          'Dosen B' : ['Kaprodi 1'],
          'Dosen C' : ['Kaprodi 1'],
          'Kaprodi 2' : ['Warek 2', 'Dosen D', 'Dosen E'],
          'Dosen D' : ['Kaprodi 2'],
          'Dosen E' : ['Kaprodi 2'],
          'Kaprodi 3' : ['Warek 2', 'Dosen F', 'Dosen G'],
          'Dosen F' : ['Kaprodi 3'],
          'Dosen G' : ['Kaprodi 3']}

In [23]:
bfs(graph2, 'Rektor')

['Rektor',
 'Warek 1',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

In [24]:
bfs(graph2, 'Kaprodi 2')

['Kaprodi 2',
 'Warek 2',
 'Dosen D',
 'Dosen E',
 'Rektor',
 'Kaprodi 1',
 'Kaprodi 3',
 'Warek 1',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen F',
 'Dosen G']

In [33]:
bfs(graph2, 'Warek 1')

['Warek 1',
 'Rektor',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

In [27]:
bfs(graph2, 'Dosen C')

['Dosen C',
 'Kaprodi 1',
 'Warek 2',
 'Dosen A',
 'Dosen B',
 'Rektor',
 'Kaprodi 2',
 'Kaprodi 3',
 'Warek 1',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

In [28]:
graph3 = {'0' : ['9', '7', '11'],
          '1' : ['10', '8'],
          '2' : ['12', '3'],
          '3' : ['2', '4', '7'],
          '4' : ['3'],
          '5' : ['6'],
          '6' : ['5', '7'],
          '7' : ['3', '6', '11', '0'],
          '8' : ['9', '1', '12'],
          '9' : ['10', '8', '0'],
          '10' : ['1', '9'],
          '11' : ['0', '7'],
          '12' : ['8', '2']
          }

In [29]:
bfs(graph3, '0')

['0', '9', '7', '11', '10', '8', '3', '6', '1', '12', '2', '4', '5']

In [30]:
bfs(graph3, '8')

['8', '9', '1', '12', '10', '0', '2', '7', '11', '3', '6', '4', '5']

In [31]:
bfs(graph3, '6')

['6', '5', '7', '3', '11', '0', '2', '4', '9', '12', '10', '8', '1']

In [34]:
bfs(graph3, '12')

['12', '8', '2', '9', '1', '3', '10', '0', '4', '7', '11', '6', '5']

In [35]:
# DEPTH-FIRST SEARCH
def dfs(visited, graph, node):
  if node not in visited:
    print(node)
    visited.add(node)
    for neighbour in graph[node]:
      dfs(visited, graph, neighbour)

In [36]:
visited = set()
dfs(visited, graph, 'Amin')

Amin
Wasim
Imran
Faras
Nick
Mike

In [37]:
visited = set()
dfs(visited, graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

In [38]:
visited = set()
dfs(visited, graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

In [39]:
visited = set()
dfs(visited, graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

In [40]:
visited = set()
dfs(visited, graph2, 'Rektor')

Rektor
Warek 1
Warek 2
Kaprodi 1
Dosen A
Dosen B
Dosen C
Kaprodi 2
Dosen D
Dosen E
Kaprodi 3
Dosen F
Dosen G

In [41]:
visited = set()
dfs(visited, graph2, 'Dosen B')

Dosen B
Kaprodi 1
Warek 2
Rektor
Warek 1
Kaprodi 2
Dosen D
Dosen E
Kaprodi 3
Dosen F
Dosen G
Dosen A
Dosen C

In [42]:
visited = set()
dfs(visited, graph3, '0')

0
9
10
1
8
12
2
3
4
7
6
5
11