In [ ]:
import numpy as np
print(np.__version__)

1.23.5

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

hasil = a + b

print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first+second)
  return result

add(a, b)

[5, 7, 9]

In [ ]:
nilai_siswa = np.array([85, 55, 40, 90])

print(nilai_siswa[3])

90

# Testing
## **Testing2**

In [ ]:
nama = "Stanley Alexsander Tamboto"
nim = 2022071008

print("Hello World!")
print("Nama saya", nama)
print("NIM saya", nim)

Hello World!
Nama saya Stanley Alexsander Tamboto
NIM saya 2022071008

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
x = "Sally"
print(x)

Sally

In [ ]:
def getFirst(myList):
  return myList[0]

getFirst([1, 2, 3])

1

In [ ]:
getFirst([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

1

In [ ]:
def getSecond(myList):
  return myList[1]

getSecond([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2

In [ ]:
def getLast(myList):
  # return myList[-1]
  return myList[len(myList)-1]

getLast([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

10

In [ ]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item
  return sum

getSum([1, -2, 3, -4])

-2

In [ ]:
def getKali(myList):
  kali = 1
  for item in myList:
    kali = kali*item
  return kali

getKali([-1, -2, -3, 4])

-24

In [ ]:
def getBagi(myList):
  bagi = 1
  for item in myList:
    bagi = bagi/item
  return bagi

getBagi([1, -2, 3, 4])

-0.041666666666666664

In [ ]:
def getAvg(myList):
  return getSum(myList) / len(myList)

getAvg([1, 2, 3, 4])

2.5

In [ ]:
# def bagi(list_a, list_b):
#   result = []
#   for first, second in zip(list_a, list_b):
#     result.append(first/second)
#   return result

# bagi([1, 2, 3, 4], [5, 6, 7, 8])

def bagi(list_a, list_b):
  return getSum(list_a) / getSum(list_b)

bagi([1, 2, 3, 4], [5, 6, 7, 8])

0.38461538461538464

In [ ]:
# def kurang(list_a, list_b):
#   result = []
#   for first, second in zip(list_a, list_b):
#     result.append(first-second)
#   return result

# kurang([1, 2, 3, 4], [5, 6, 7, 8])

def kurang(list_a, list_b):
  return getSum(list_a) - getSum(list_b)

kurang([1, 2, 3, 4], [5, 6, 7, 8])

-16